<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hwhan.rrealfinal">
    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashActivity"
        android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".MainActivity"/>
        <activity android:name=".Recommend_view"/>
        <activity android:name=".Crop_info_detail"/>
        <activity android:name=".Recommend_crop"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Login_start"/>
        <activity android:name=".Login_join"/>
        <activity android:name=".Mypage_update"/>
        <activity android:name=".Mypage_favlocate"/>
        <activity android:name=".Mypage_favcrop"/>
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="9baa9e5acc2c6f524347be698705364c"/>

    </application>




</manifest>